$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap'; // @import 'https://fonts.googleapis.com/css?family=Shadows+Into+Light';
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// @font-face {
//   font-family: 'Open Sans';
//   src: @import ('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
// }
$background-color: #79cdcd;
$font-color: #666;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$green: #50c878;
$turqoise: #adeaea;
$dark-blue: #036;
$border: #808080;
$red: #f00;
$fuschia: #b200b2;
$font-family-text: 'Helvetica Neue';
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

body {
  background-color: $background-color;
  color: $font-color;
  margin: 10px;
}

.row {
  text-align: right;
  margin: 0 auto;
  // width: 820px;
}
// .box0  {
// background-color: red;
// }

.game-box {
  // padding-top: 10px;
  // // padding-left: 350px;
  // text-align: center;
  // margin: 0 auto;
  // position: relative;
  position: relative;
  height: 450px;
  margin: 100px auto 20px;
  width: 450px;
}


// .get-games-form {
//   border: 1px solid $border;
//   float: left;
//   margin: 5px;
//   padding: 5px;
// }

.btn-outline-success {
  background-color: $white;
  color: $teal;
}

.form-style {
  color: $red;
  text-align: center;
}

.content-msg {
  color: $fuschia;
  font-family: $roboto-slab;
  font-size: 35px;
  // font: 100% Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  color: $dark-blue;
  font-size: 70px;
  font-family: $roboto-slab;
}

.game-name {
  text-align: center;
  font-family: $roboto-slab;
}

h4 {
  color: $grey;
  font-size: 20px;
  font-family: $roboto-slab;
}

.box {
  border: 3px solid $dark-blue;
  border-collapse: collapse;
  color: $fuschia;
  cursor: pointer;
  float: center;
  font-size: 50px;
  height: 125px;
  text-align: center;
  width: 125px;
}

.box0 {
  border-left: none;
  border-top: none;
}

.box1 {
  border-top: none;
}

.box2 {
  border-right: none;
  border-top: none;
}

.box3 {
  border-left: none;
}

.box5 {
  border-right: none;
}

.box6 {
  border-left: none;
  border-bottom: none;
}

.box7 {
  border-bottom: none;
}

.box8 {
  border-bottom: none;
  border-right: none;
}
// .box:hover {
//   background-color: $green;
// }
// .grey {
//   background-color: $grey;
// }
//
// .teal {
//   background-color: $teal;
// }

.game-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.new-game {
  border: $teal;
  background: none;
  text-transform: uppercase;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  // top: 50%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.4px;
  color: $dark-blue;
}
//
.get-game {
  border: $teal;
  background: none;
  text-transform: uppercase;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  // top: 50%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.4px;
  color: $dark-blue;
}

.login-button {
  background-color: $white;
  color: $teal;
}

.sign-in-button {
  background-color: $white;
  color: $teal;
}

.signing-out {
  background-color: $white;
  color: $teal;
  margin: 30px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.change-password-button {
  background-color: $white;
  color: $teal;
}

#change-password-form {
  position: absolute;
  top: 65px;
  right: 0;
  font-size: 0.8em;
  width: 150px;
}

// input {
//   width: 100px;
//   height: 25px;
// }

// .change-password {
//   width: 140px;
// }

.new-pw {
  display: block;
  margin-bottom: 10px;
}

.old-pw {
  display: block;
  margin-bottom: 10px;
}
