$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #79cdcd;
$font-color: #666;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$green: #50c878;
$turqoise: #adeaea;
$dark-blue: #036;
$border: #808080;
$red: #f00;

body {
  background-color: $background-color;
  color: $font-color;
  margin: 10px;
}

.buttons {
  border: 1px solid $border;
  float: left;
  margin: 5px;
  padding: 5px;
}

.btn-outline-success {
  background-color: $white;
  color: $teal;
}

.form-style {
  color: $red;
}

.content-msg {
  color: $red;
  font: 20px;
}

h1 {
  color: $dark-blue;
  font-size: 70px;
}

h4 {
  color: $grey;
  font-size: 20px;
}

.box {
  border: 2px solid $font-color;
  border-collapse: collapse;
  cursor: pointer;
  float: center;
  font-size: 50px;
  height: 125px;
  width: 125px;
}

// .box:hover {
//   background-color: $green;
// }

// .grey {
//   background-color: $grey;
// }
//
// .teal {
//   background-color: $teal;
// }

.reset-button {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}

.get-game {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}

.new-game {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}

.login-button {
  background-color: $white;
  color: $teal;
}

.sign-in-button {
  background-color: $white;
  color: $teal;
}

.signing-out {
  background-color: $white;
  color: $teal;
  margin: 30px;
}

.change-password-button {
  background-color: $white;
  color: $teal;
}

// #change-password-form {
//   background-color: $white;
//   color: $teal;
// }
