$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #79cdcd;
$font-color: #666;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$green: #50c878;
$turqoise: #adeaea;

body {
  background-color: $background-color;
  color: $font-color;
  margin: 50px;
}

.btn-outline-success {
  background-color: $white;
  color: $teal;
}

.form-style {
  color: #f00;
}

.box {
  border: 2px solid $font-color;
  border-collapse: collapse;
  cursor: pointer;
  float: center;
  font-size: 50px;
  height: 125px;
  width: 125px;
}

// .box:hover {
//   background-color: $green;
// }

// .grey {
//   background-color: $grey;
// }
//
// .teal {
//   background-color: $teal;
// }

.reset-button {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 20px;
  padding: 10px;
}

.get-game {
  background-color: $white;
  color: $teal;
  float: left;
  font-size: 15px;
  margin: 20px;
  padding: 10px;
}

.login-button {
  background-color: $white;
  color: $teal;
}

.sign-in-button {
  background-color: $white;
  color: $teal;
}

#sign-out {
  background-color: $white;
  color: $teal;
  margin: 40px;
}

.change-password-button {
  background-color: $white;
  color: $teal;
}
